@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: white;
  color: black;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.navigation-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.header-navigation a {
  text-decoration: none;
  color: black;
}

button {
  font-family: inherit;
}

button.header-search {
  font-size: 16px;
  line-height: 20px;
}

button.header-catalog {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  width: 293px;
  min-height: 50px;
  text-align: start;
}

.slider-text {
  width: 560px;
  min-height: 400px;
}

.slider-text h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 23px;
}

p {
  color: #444444;
}

.slider-text p {
  margin: 0;
  margin-bottom: 50px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

dd {
  font-size: 36px;
}

dt {
  font-size: 16px;
  color: #444444;
}

.catalog-item a {
  display: block;
  background-color: #ffe17f;
  text-decoration: none;
  color: black;
  line-height: 24px;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  line-height: 21px;
  margin: 0;
}

.advantages-item.active button {
  color: #ffe17f;
  background-color: black;
  padding: 0;
  margin: 0;
  width: 280px;
  min-height: 40px;
  text-align: start;
}

.discription-item {
  display: none;
}

.discription-item.active {
  display: block;
}

.advantages {
  background-color: #f0f0f0;
}

.discription-item h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.delivery-info button {
  background-color: #f0f0f0;
  width: 1160px;
  min-height: 100px;
  font-size: 20px;
  line-height: 24px;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.main-contacts h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
}

.contacts-adress-phone {
  color: #444444;
}

.delivery-list span {
  font-weight: 700;
  line-height: 20px;
}

.text-block h4 {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
}

a.about-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  line-height: 21px;
  margin: 0;
}

.subscription h2{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.footer-adress-text {
  font-size: 16px;
  line-height: 20px;
}

.page-footer {
  background-color: #444444;
}

.footer-nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
}

.page-footer .phone {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-form-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-products-card {
  background-color: #ffffff;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.product-card-link {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
}

.catalog-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: 3px solid #e5e5e5;
  padding: 0;
  margin: 0;
  min-height: 55px;
  width: 100%;
  background-color: #ffffff;
}

.catalog-pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 60%;
  text-transform: uppercase;
}

.catalog-pagination-link.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 1;
}

.catalog-pagination-link.pagination-back {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
