@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  padding: 0 24px;
}

.page-header.catalog {
  margin-bottom: 35px;
}

.page-header-container {
  margin: 0 auto;
  width: 1160px;
  background-image: linear-gradient(#ffffff 15%, #ffe17f 15%);
}

.header-navigation {
  display: grid;
  grid-gap: 30px 0;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 15px 60px 0;
}

.navigation-item.nav-catalog {
  margin-right: auto;
}

.user-menu-wrapper {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
}

.nav-form {
  min-width: 517px;
  align-self: end;
  margin-right: 26px;
}

.navigation-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-wrap: wrap;
  align-self: end;
  gap: 45px;
}

.navigation-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 50px;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 26px;
}

.user-item {
  display: flex;
  gap: 28px;
}

.header-navigation a {
  text-decoration: none;
  color: #000000;
}

button.header-search {
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  background-color: #ffe17f;
  border: 2px solid #000000;
}

.header-catalog {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  width: 293px;
  min-height: 50px;
  text-align: start;
  border: none;
  background-color: #ffe17f;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.main-container {
  margin: 0 auto;
}

.hero-slider {
  width: 1160px;
  margin: 0 auto 70px;
  display: flex;
  flex-direction: column;
}

.slider {
  padding: 0;
  margin: 0;
}

.slider-text {
  width: 560px;
  min-height: 400px;
}

.slider-text h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 23px;
}

.slider-text p {
  margin: 0;
  margin-bottom: 50px;
  color: #444444;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slider-card {
  display: flex;
  justify-content: space-between;
}

.table-discription {
  font-size: 36px;
}

.table-title {
  font-size: 16px;
  color: #444444;
}

.pagination-list {
  margin: 0 auto;
  padding: 0;
}

.page-categories {
  width: 1160px;
  margin: 0 auto 70px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.catalog-item a {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  color: #000000;
  width: 100%;
}

.catalog-item h3 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.catalog-item {
  width: 160px;
}

.catalog-item-wrapper {
  background-color: #ffe17f;
  min-height:  160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-conteiner {
  margin: 0 auto;
  display: flex;
}

.advantages-list {
  list-style: none;
  padding: 64px 0 0 0;
  margin: 0;
  width: 287px;
}

.advantages-discription-list {
  margin: 0;
  min-width: 873px;
  padding: 73px 63px 72px 116px;
}

.advantages-item {
  margin-bottom: 35px;
}

.advantages-item:nth-last-child(1) {
  margin-bottom: 0;
}

.advantages-item.active button {
  color: #ffe17f;
  background-color: #000000;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 40px;
  text-align: start;
}

.discription-item {
  display: none;
  max-width: 452px;
  min-height: 174px;
}

.discription-item.active {
  display: block;
}

.advantages {
  background-color: #f0f0f0;
  margin-bottom: 70px;
  background-image: linear-gradient( #ffffff 26%, #f0f0f0 26%);
  padding: 0 140px 72px;
}

.discription-item h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.discription-item p {
  color: #444444;
  margin: 0;
}

.delivery-info {
  width: 1160px;
  margin: 0 auto 70px;
}

.delivery-info button {
  background-color: #f0f0f0;
  width: 1160px;
  min-height: 100px;
  font-size: 20px;
  line-height: 24px;
  border: none;
  text-align: center;
  padding: 5px 15px;
  margin: 0;
}

.main-contacts {
  width: 1160px;
  margin: 0 auto 70px;
  display: flex;
  justify-content: space-between;
}

.main-contacts h3 {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
}

.contacts-adress-text{
  margin: 0;
}

.contacts-adress {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-adress-phone {
  color: #444444;
}

.job-time {
  display: block;
  color: #444444;
  margin-bottom: 30px;
}

.delivery-list {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.delivery-list li {
  margin-bottom: 19px;
  padding-left: 34px;
}

.delivery-list li:nth-last-child(1) {
  margin-bottom: 0;
}

.delivery-list span {
  font-weight: 700;
  line-height: 20px;
}

.text-block {
  max-width: 532px;
}

.text-block p {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
  display: block;
  max-width: 498px;
}

.text-block h4 {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

a.button {
  text-decoration: none;
}

.subscription {
  background-color: #f0f0f0;
  width: 1440px;
  padding: 64px 141px 56px 141px;
}

.subscription-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 421px;
  justify-content: space-between;
}

.subscription h2{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  max-width: 348px;
}

.subscription-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subscription-text p {
  color: #444444;
  margin: 0;
  max-width: 560px;
}

.form-subscription-wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.form-discription {
  margin: 0;
}

.footer-adress-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

.page-footer {
  background-color: #444444;
  width: 1440px;
  padding: 62px 140px 65px 140px;
}

.footer-adress {
  grid-row: 2 / 3;
  width: 240px;

}

.page-footer-wrapper {
  min-height: 194px;
  min-width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer-logo {
  display: block;
  height: 36px;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: end;
  gap: 15px;
}

.footer-social-list li {
  min-width: 40px;
  height: 40px;
  background-color: #ffffff;
  opacity: 30%;
  border-radius: 50%;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-address-phone {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: end;
}

.footer-nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
}

.page-footer .phone {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.inner-header {
  min-width: 1079px;
  padding: 0 21px 34px 60px;
}

.developer {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: end;
  align-self: end;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;
  margin: 0 auto 16px 0;
}

.main-inner-container {
  width: 1160px;
  margin: 0 auto;
  background-color: #ffffff;
}

.user-compare {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  padding-right: 36px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  width: 100%;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-products {
  background-color: #f0f0f0;
  width: 1440px;
  margin: 0 auto;
}

.catalog-products-wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 70px auto;
  margin: 0;
  padding: 0 140px;
}

.products-filter {
  max-width: 320px;
  padding-left: 60px;
  grid-column: 1 / 2;
  grid-row: span 3;
}

.sorting {
  width: 840px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.catalog-form-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-products-card {
  background-color: #ffffff;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  width: 840px;
  margin: 0;
  padding: 70px 40px 78px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.product-card-list {
  list-style: none;
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  gap: 40px
}

.product-card-item {
  max-width: 360px;
}

.product-card-title {
  font-size: 18px;
  margin: 0;
}

.product-card-link {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-card-img {
  order: -1;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
}

.catalog-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: 3px solid #e5e5e5;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 44px;
  min-height: 55px;
  width: 760px;
  background-color: #ffffff;
  text-transform: uppercase;
}

.catalog-pagination {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  background-color: #ebebeb;
  width: 760px;
  min-height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-pagination-item {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 30%;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
}

.catalog-pagination-link.next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 1;
}

.catalog-pagination-link.current {
  opacity: 60%;
}

.catalog-pagination-link.back {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.catalog-pagination-item.pagination-next {
  width: 128px;
  height: 71px;
  margin-left: auto;
}

.catalog-pagination-item.pagination-back {
  margin-right: auto;
  width: 128px;
  height: 71px;
}

.catalog-pagination-link.pagination-back {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
